.circle{
    border-radius: 50%;
    margin: 5px 5px 0 0;
    font-size: 22px !important;
}
.fa-facebook{
    background: #f15a29;
    color: #414042;
    padding: 8px 14px;
}
.fa-twitter{
    background: #f15a29;
    color: #414042;
    padding: 8px 9px;
}
.fa-instagram{
    background: #f15a29;
    color: #414042;
    padding: 8px 10px;
}
.fa-vk{
    background: #f15a29;
    color: #414042;
    padding: 8px 7px;
}
.fa-linkedin{
    background: #f15a29;
    color: #414042;
    padding: 8px 10px;
}
.circle-sm{
    border-radius: 50%;
    margin: 2px 2px 0 0;
    font-size: 14px !important;
}
.fa-angle-left{
    background: #f6931e;
    color: #ffffff;
    padding: 5px 10px;
}
.fa-angle-right{
    background: #f6931e;
    color: #ffffff;
    padding: 5px 10px;
}
