.footer-link {
    color: #ffffff;
    font-size: 12px;
}
.footer-link:hover {
    color: rgba(207, 207, 207, 1);
    text-decoration: none;
}
.footer-link:active {
    color: rgba(207, 207, 207, 1);
    text-decoration: none;
}
.footer-link:focus {
    color: rgba(207, 207, 207, 1);
    text-decoration: none;
}
.main-banner {
    background: url(../images/Mainbanner/mainbanner.jpg);
    /*background-size: 100%;
    max-height: 100%;*/
}
.main-services {
    background-color: #65b99e;
}
.main-header-service {
    background: url(../images/Ourspecials/bannerspecials.jpg);
}
.main-sites {
    background-color: #ffffff;
}
.main-how-we-work {
    background: url(../images/Howtoweworks/Howtoweworks.jpg);
}
.main-clients {
    background-color: #3b3436;
}
.main-result {
    background-color: #e6e7e8;
}
.main-about {
    background-color: #ffffff;
}
.btn-site {
    background-color: #58595b;
}
.btn-site:hover {
    color: #e5e6e8;
}
.service-block-1 {
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    border: 3px solid #c6c6c6;
}
.call-back-banner {
    background-color: #575756;
    padding: 0 10px 0 10px;
}